.overlay {
  position: fixed;
  // position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .items {
    flex: 1;
  }

  .cart__total__block {
    ul {
      display: block;
      margin-bottom: 40px !important;
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
      }

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
    .green__button {
      position: relative;
      &:hover {
        img {
          transform: translateX(5px);
        }
      }

      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }
}

.green__button {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background ease-in-out 0.2s;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.cart__empty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .green__button {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
